body {
  background-color: #fff;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
}

main {
  width: 50%;
  margin: auto;
}

section h1 {
  text-align: center;
}

@font-face {
  font-family: "devon";
  src: url("../font/Devonshire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "segoe";
  src: url("../font/Segoe_Print.ttf") format("truetype");
}
@font-face {
  font-family: "segoe-bold";
  src: url("../font/Segoe_Print_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "kaushan";
  src: url("../font/KaushanScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "croissant";
  src: url("../font/CroissantOne-Regular.ttf") format("truetype");
  src: url("../font/CroissantOne-Regular.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  src: url("../font/NotoSerif-Regular.ttf") format("truetype");
  src: url("../font/NotoSerif-Italic.ttf") format("truetype");
  src: url("../font/NotoSerif-BoldItalic.ttf") format("truetype");
  src: url("../font/NotoSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "dancing";
  src: url("../font/Dancing-script.ttf") format("truetype");
}
.menu_four {
  width: 35%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.42);
  padding-top: 5em;
  height: 16em;
  background-color: #ffffff;
  margin: 1em;
}
.menu_four p {
  font-family: "kaushan";
  background: -webkit-linear-gradient(left, #17810e 10%, rgba(166, 255, 114, 0.568));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu_four h2 {
  background: -webkit-linear-gradient(left, #17810e 10%, rgba(166, 255, 114, 0.568));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
}

.menu-list {
  color: #440101;
  display: flex;
  flex-direction: column;
  width: 50em;
  margin: auto;
  text-align: center;
  vertical-align: center;
  background-color: #FCDFDA;
  box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.42);
  padding: 3em;
}
.menu-list .title-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 4em;
  justify-content: space-between;
  font-family: "segoe", Arial, Helvetica, sans-serif;
}
.menu-list #ornement {
  width: 13em;
}
.menu-list p {
  display: flex;
  justify-content: space-between;
  font-family: "segoe", Arial, Helvetica, sans-serif;
}
.menu-list h2 {
  font-family: "devon";
  margin-top: -0.2em;
  font-size: 2em;
}
.menu-list span {
  margin-left: 4em;
  font-family: "segoe-bold";
}
.menu-list .bot-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
  padding: 2em;
  font-size: 1.2em;
}
.menu-list .bot-menu h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
}
.menu-list .bot-menu img {
  padding-bottom: 1em;
}
.menu-list .content-menu {
  padding: 0 4em;
}

.b {
  background-color: #FEF5FD;
}
.b h2 {
  font-family: "croissant", "Times New Roman", Times, serif;
  margin-top: 0em;
  font-size: 2em;
  font-weight: normal;
  background: -webkit-linear-gradient(left, orange, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.b p {
  font-family: "Times New Roman", Times, serif;
  color: rgba(204, 117, 45, 0.918);
  font-size: 1.2em;
}
.b span {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.b h3 {
  color: rgba(204, 117, 45, 0.918);
}

.two p, .two h3 {
  color: #A86999;
}

.three p, .three h3 {
  color: #8A5CCC;
}

.c {
  background-color: #f3f3f3;
  color: black;
}
.c h2 {
  font-family: "dancing";
  font-weight: normal;
  background: -webkit-linear-gradient(left, #0400ff, #00ccff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.c p {
  color: black;
}
.c h3 {
  color: black;
  font-weight: normal;
}

.d {
  background-color: #ffffff;
  color: black;
}
.d p {
  color: black;
  letter-spacing: -1px;
}
.d h3 {
  color: black;
  font-weight: normal;
  letter-spacing: -1px;
}
.d h2 {
  font-family: "kaushan", Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(left, #17810e 10%, rgba(166, 255, 114, 0.568));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_one {
  width: 35%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.42);
  padding-top: 5em;
  height: 16em;
  background-color: #FCDFDA;
  color: #440101;
  margin: 1em;
}
.menu_one p {
  font-family: "devon";
  margin-top: -1em;
}
.menu_one a {
  text-decoration: none;
  color: #440101;
}
.menu_one h2 {
  text-transform: uppercase;
  margin-top: -0.5em;
}
.menu_one img {
  padding-bottom: 0.5em;
}

.menu_three {
  width: 35%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.42);
  padding-top: 5em;
  height: 16em;
  background-color: #f3f3f3;
  margin: 1em;
}
.menu_three p, .menu_three h2 {
  background: -webkit-linear-gradient(left, #0400ff, #00b7ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "dancing";
}
.menu_three h2 {
  font-family: "segoe", Arial, Helvetica, sans-serif;
}

.menu_two {
  width: 35%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 15px 0px rgba(112, 112, 112, 0.42);
  padding-top: 5em;
  height: 16em;
  background-color: #FEF5FD;
  font-family: "noto";
  margin: 1em;
}
.menu_two p {
  background: -webkit-linear-gradient(left, orange, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "croissant";
}
.menu_two h2 {
  color: rgba(204, 117, 45, 0.918);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "segoe";
  font-size: 1em;
  padding-top: 2em;
}
.menu p {
  font-size: 1.3em;
}
.menu a {
  text-decoration: none;
}
.menu h2 {
  font-size: 2em;
}

.button {
  width: 350px;
  margin: auto;
  background-color: #569C87;
  color: #FFCC3D;
  text-align: center;
  font-size: 2.5em;
  border-radius: 10px;
  padding-right: 0.5em;
}
.button p {
  padding: 0.2em;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #569C87;
  color: #FFCC3D;
  padding: 0 3em 0 3em;
}
footer h3 {
  font-size: 1.8em;
}

header {
  display: flex;
  width: 100%;
  background-color: #569C87;
}
header h1 {
  text-align: center;
  color: #FFCC3D;
  font-size: 2.5em;
  width: 100%;
}
header a {
  text-decoration: none;
  margin: auto;
  font-size: 1.5em;
}

.menu-header h2 {
  font-size: 3em;
}

/*# sourceMappingURL=style.css.map */
