footer{
    background-color: $color-bg;
    color: $color-font;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    a{
        text-decoration: none;
        color: $color-font;
    }
    h3{
        font-size: 1.8em;
        max-width: 1280px;
        @media (max-width: 768px){
            font-size: 1.2em;
        }
    }
    h3:hover{
        animation: wiggle 700ms linear 50ms;
    }
    .foot{
        display: flex;
        justify-content: space-around;
    }
}