header{
    display: flex;
    width: 100%;
    background-color: $color-bg;
        h1{
            text-align: center;
            color: $color-font;
            font-size: 2.5em;
            width: 100%;
        }
        a{
            text-decoration: none;
            margin: auto;
            font-size: 1.5em;
        }
    }
.menu-header{
    h2{
        font-size: 3em;
    }
}