header{
    display: flex;
    // width: 100%;
    background-color: $color-bg;
        h1{
            text-align: center;
            color: $color-font;
            font-size: 2.5em;
            // width: 100%;
            // text-shadow: #FFCC3D 1px -1px 0,
            // #fbba41 1px 1px 0,
            // #fbae1f 2px 2px 0,
            // #ff6804 3px 3px 0,
            // #c04600 4px 4px 0;
        // &:hover{
        //     animation: turn 1000ms linear 50ms;
        //     }
        }
        a{
            text-decoration: none;
            margin: auto;
            font-size: 1.5em;
        }
    }
.menu-header{
    h2{
        font-size: 3em;
        @media (max-width: 425px){
            font-size: 1.5em;
        }
    }
}