.menu_two{
    @include menu_style;
    background-color: $color-menu-two;
    font-family:"noto";
    @media (max-width: 768px){
        width: 550px;
        font-size: 0.8em;
    }
    p{
        font-family: "croissant";
        background:-webkit-linear-gradient(left, rgba(204, 117, 45, 0.918), #8A5CCC);
        -webkit-background-clip:text;
        color:transparent;

    }
    h2{
        color: rgba(204, 117, 45, 0.918);
    }
}
