.menu_four{
    @include menu_style;
    background-color: $color-menu-four;
    @media (max-width: 768px){
        width: 100%;
        font-size: 0.8em;
    }
    p{
        font-family: "kaushan";
        background:-webkit-linear-gradient(left, rgb(23, 129, 14) 10% , #beff7f);
        // background-clip:text;
        -webkit-background-clip:text;
        color:transparent;

    }
    h2{
        letter-spacing: 2px;
        background:-webkit-linear-gradient(left, rgb(23, 129, 14) 10% , #beff7f);
        // background-clip:text;
        -webkit-background-clip:text;
        color:transparent;

    }
}