.menu_three{
    @include menu_style;
    background-color: $color-menu-three;
    margin: 1em;
    p{
        background:-webkit-linear-gradient(left, rgb(4, 0, 255) , rgb(0, 183, 255));
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        font-family: "dancing";
    }
        h2{
            background:-webkit-linear-gradient(left, rgb(4, 0, 255) , rgb(0, 183, 255));
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
        
        }
    
}