.menu-list{
    color: rgb(68, 1, 1);
    display: flex;
    flex-direction: column;
    width: 50em;
    margin: auto;
    text-align: center;
    vertical-align: center;
    background-color: $color-menu-one;
    box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.42);
    padding: 3em;
    .title-menu{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 0 4em;
        justify-content: space-between;
        font-family: "segoe", Arial, Helvetica, sans-serif;
        a{
            text-decoration: none;
            background: linear-gradient(to top, red 0%, red 5%, transparent 10%) no-repeat;
            background-size: 0 100%;
            transition: background-size 300ms;
        }
        a:hover{
            background-size: 100% 100%;
        }
        }
    }
    #ornement{
        width: 13em;
    }
    p{
        display: flex;
        justify-content: space-between;
        font-family: "segoe", Arial, Helvetica, sans-serif;
        
    }
    h2{
        font-family: "devon";
        margin-top: -0.2em;
        font-size: 2em;
    }
    span{
        margin-left: 4em;
        font-family: "segoe-bold";
    }
    .bot-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1em;
        padding: 2em;
        font-size: 1.2em;
        h2{
            font-size: 1.4em;
            padding-top: 0.5em;
        }
        img{
            padding-bottom: 1em;
        }

    }
    .content-menu{
        padding: 0 4em;
    }
    


// style pour menu b
.b{
    background-color: $color-menu-two;
    h2{
        font-family: "croissant", 'Times New Roman', Times, serif;
        margin-top: 0em;
        font-size: 2em;
        font-weight: normal;
        background: -webkit-linear-gradient(left, orange , blue);
        background-clip:text;
        -webkit-background-clip:text;
        color: transparent;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        color: rgba(204, 117, 45, 0.918);
        font-size: 1.2em;
    }
    span{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    h3{
        color: rgba(204, 117, 45, 0.918);
    }
}
.two{
    p, h3{
    color: #A86999;
    }
    
}
.three{
    p, h3{
        color: #8A5CCC;
    }
}

// Style pour menu C

.c{
    background-color: $color-menu-three;
    color: black;
    h2{
        font-family: "dancing";
        font-weight: normal;
        background:-webkit-linear-gradient(left, rgb(4, 0, 255) , rgb(0, 204, 255));
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }
    p{
        color: black;
    }
    h3{
        color: black;
        font-weight: normal;
    }
}

// Style pour menu d

.d{
    background-color: $color-menu-four;
    color: black;
    p{
        color: black;
        letter-spacing: -1px;
    }
    h3{
        color: black;
        font-weight: normal;
        letter-spacing: -1px;
    }
    h2{
        font-family: "kaushan", Arial, Helvetica, sans-serif;
        background:-webkit-linear-gradient(left, rgb(23, 129, 14) 10% , rgba(166, 255, 114, 0.568));
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }

}
