.menu_three{
    @include menu_style;
    background-color: $color-menu-three;
    @media (max-width: 768px){
        width: 100%;
        font-size: 0.8em;
    }
    p{
        font-family: "dancing", Arial, Helvetica, sans-serif;
        background:-webkit-linear-gradient(left, rgb(4, 0, 255), rgb(0, 204, 255));
        -webkit-background-clip:text;
        color:transparent;
        
    }
    h2{
        font-family: "segoe", Arial, Helvetica, sans-serif;
        background:-webkit-linear-gradient(left, rgb(4, 0, 255), rgb(0, 204, 255));
        -webkit-background-clip:text;
        color:transparent;
    }
}