.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "segoe";
    font-size: 1em;
    padding-top: 2em;
    @media (max-width: 768px){
        display: flex;
        width: 100%;
    }
    p{
        font-size: 1.3em;
    }
    a{
        text-decoration: none;
    }
    h2{
        font-size: 2em;
    }
}
