.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "segoe";
    font-size: 1em;
    padding-top: 2em;
    @media (max-width: 768px){
        display: flex;
        width: 100%;
    }
    p{
        font-size: 1.3em;
    }
    a{
        text-decoration: none;
    }
    h2{
        font-size: 2em;
    }
}

//ornement des menus

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-2-left {
    width: 250px;
    height: 25px;
    background-position: 0 0;
}

.sprite-2-left2 {
    width: 250px;
    height: 29px;
    background-position: 0 -25px;
}

.sprite-2-left3 {
    width: 250px;
    height: 29px;
    background-position: 0 -54px;
}
