body{
    background-color: #fff;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

main{
    width: 35%;
    margin: auto;
}
section{
    h1{
        text-align: center;
    }
}