body{
    background-color: #fff;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-bottom: 150px;
}

main{
    width: 50%;
    margin: auto;
}
section{
    h1{
        text-align: center;
    }
}
section{
    margin-top: 70px;
}
