$color-bg: #569C87; //Couleurs background header + footer
$color-font: #FFCC3D; //Couleurs police header + footer
$color-menu-one: #FCDFDA; //Couleur bg menu-one
$color-menu-two: #FEF5FD; //Couleur bg menu-two
$color-menu-three: #F9F9F9; //Couleur bg menu-three
$color-menu-four: #ffffff; //Couleur bg menu-four